    
@charset "UTF-8";
/*重置样式*/
body, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, p, ol, mark, b, em, strong, i, a, table, th, tr, td { margin: 0; padding: 0; font-style: normal; font-weight: normal; }

body { font-size: 16px; font-family: "微软雅黑"; overflow-y: scroll; background: #ededed;position: relative;}

	
b{ font-weight:normal;}
input,button,select,textarea{outline:none;font-family:"微软雅黑"; font-size:12px;}
/*a:hover{text-decoration: none;}*/
li { list-style: none;}
input{ border:0px;}
img { display: block; width: 100%; height: 100%; }


A{TEXT-DECORATION: none;}
A:link {color: #333333; outline:none;}
A:visited {color: #54c3f6}
A:active {color: #54c3f6}
A:hover{COLOR:#00a0e9}



/*清浮动*/
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.clear,.both{clear:both; width:0; height:0; overflow:hidden;}

.ovhidele {
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
